{% block money_row %}
    {% set type = type|default('number') %}
    {% set class = (attr.class|default('') ~ ' form-control form-control--input') %}
    {% set attr = attr|merge({'class': class|trim, 'step': '0.01'}) %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
{% endblock %}

{# Money values #}
{% block money_value_row %}
    <div class="form-group">
        {{ form_label(form) }}

        <div class="container form-group" style="margin-left: 0">
            <div class="row">
                <div class="col-md-5" style="padding: 0">
                    {{ form_row(form.amount) }}
                </div>

                <div class="col-md-7" style="padding: 0 0 0 15px">
                    {{ form_widget(form.currency) }}
                </div>
            </div>
        </div>

        {{ form_help(form) }}

        {{ form_errors(form) }}
        {{ form_errors(form.parent) }}
        {{ form_errors(form.amount) }}
        {{ form_errors(form.currency) }}
    </div>
{% endblock %}

{% block read_only_value_widget %}
    <div {{ block('widget_attributes') }}>
        {% if form.vars.value is linkable %}
            {{ form.vars.value | link }}
        {% elseif form.parent is not empty and form.parent.vars.data is not empty and attribute(form.parent.vars.data, name) is defined and attribute(form.parent.vars.data, name) is boolean %}
            {{ attribute(form.parent.vars.data, name) | bool }}
        {% elseif form.vars.value is money %}
            {{ form.vars.value | money }}
        {% elseif form.vars.value is date %}
            {{ form.vars.value | localizeddate }}
        {% else %}
            {{ form.vars.value | trans | raw | nl2br }}
        {% endif %}
    </div>
{% endblock %}
